<div class="page-content-wrapper">
  <div class="themes-heading">
    <h2>Themes</h2>
  </div>
  <hr>

  <div #wrapper class="themes">
    <mat-card class="theme-card" *ngFor="let theme of themeslist">
      <mat-card-header>
        <mat-card-title>
          <img *ngIf="loading" src=".\assets\Images\loader.gif" style="width: 60%;" alt="loading">
          <img [hidden]="loading" class="themeImage" (load)="this.loading = false" src="{{ theme.imageURL }}"
            [alt]="theme.name" (click)="openPopUp(theme.imageURL)"
            (error)="imageLoadError(theme)"/>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <b>Name: </b>{{theme.name}}
        <br><b>Price: </b>{{theme.price}}
        <br><b>Material: </b>{{ getMaterialsString(theme.material) }}
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="showEstimates(theme)"
          color="primary" *ngIf="isLoggedIn">
          Show Estimates
        </button>
        <button mat-raised-button (click)="login()"
          color="primary" *ngIf="!isLoggedIn">
          Login to See Estimates
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <app-image-pop-up></app-image-pop-up>
</div>
