.products {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.product-card{
  min-width: 25%;
  max-width: 25%;
  margin: 10px;
  line-height: 1.6;

  @media (max-width: 1020px) {
    min-width: 25%;
    max-width: 25%;
  }
  @media (max-width: 720px) {
    min-width: 40%;
    max-width: 40%;
  }

  @media (max-width: 600px) {
    min-width: 80%;
    max-width: 80%;
  }
}

img {
  width: 35%;
}
.row {
  display: block;
}
.select-product {
  position: absolute;
  top: 15px;
  right: 15px;
}
