.row {
  display: block;
  margin-bottom: 20px;
}
.align-right {
  float: right;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-form-field {
  max-width: 300px;
}

td.mat-cell, th.mat-header-cell {
  padding: 10px;
}
